#map {
	position: absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	overflow:hidden;
}

.info {
	width: 36px;
	height: 36px;
	display: block;
	text-align: center;
	border-radius: 4px; 
	line-height: 46px; 
	text-decoration: none; 
	color: rgb(17, 85, 17); 
	background: rgb(255, 255, 255);
	cursor: pointer;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.popover {
	  max-width: 250px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.popover {
	  max-width: 600px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.popover {
	  max-width: 600px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.popover {
	  max-width: 600px;
	}
}



