#map {
	position: absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	overflow:hidden;
}

.info {
	width: 36px;
	height: 36px;
	display: block;
	text-align: center;
	border-radius: 4px; 
	line-height: 46px; 
	text-decoration: none; 
	color: rgb(17, 85, 17); 
	background: rgb(255, 255, 255);
	cursor: pointer;
}

.popover {
  max-width: 600px;
  width: auto;
}

